html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: row;
}

#navigator {
  width: 120px;
  box-sizing: border-box;
  border-right: 2px solid gray;
}
#editor {
  flex-grow: 1;
  width: 0;
  box-sizing: border-box;
  border-right: 2px solid gray;
}
#graph_view {
  flex-grow: 1;
  width: 0;
}
