html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: row;
}

#image_view {
  flex-grow: 3;
  width: 0;
  border-right: 2px solid gray;
}
#editor {
  flex-grow: 4;
  width: 0;
  box-sizing: border-box;
  border-right: 2px solid gray;
}
#annotation_view {
  flex-grow: 3;
  width: 0;
}
