html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: row;
}

#navigator {
  width: 100px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
}
#navigator > * {
  direction: ltr;
}
#editor {
  flex-grow: 4;
  width: 0;
  box-sizing: border-box;
  border-right: 2px solid gray;
}
#annotation_view {
  flex-grow: 3;
  width: 0;
}

.hidden {
  display: none;
}
