.Editor {
  display: flex;
  flex-direction: column;
}
.Editor .editor_div {
  flex-grow: 1;
  height: 0;
}

.Editor .bar {
  height: 22px;
  display: flex;
  flex-direction: row;
  padding: 4px;
  border-bottom: 1px solid gray;
  background: #DDD;
}
.Editor .bar > * {
  min-width: 38px;
  font-family: monospace;
  font-weight: bold;
  font-size: 12px;
  margin-right: 4px;
}

.Editor .dropdown_button {
  display: flex;
  flex-direction: column;
}
.Editor .dropdown_button button {
  min-width: 38px;
  font-family: monospace;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
}
.Editor .dropdown_button button:nth-child(2) {
  margin-left: -1px;
  font-size: 11.5px;
}
.Editor .dropdown_button .items {
  position: absolute;
  z-index: 3;
  display: none;
  width: 72px;
  margin-top: -1px;
  background: rgb(247,247,247);
  border: 1px solid rgb(175,175,175);
  color: rgb(85, 85, 85);
  padding: 0px;
}
.Editor .dropdown_button .item {
  padding: 4px;
  border-bottom: 1px solid #aaa;
  cursor: pointer;
}
.Editor .dropdown_button .item:hover {
  background: rgb(235,235,235);
}
.Editor .dropdown_button .item:not(:last-child) {
  border-bottom: 1px solid #aaa;
}

.Editor .bar .spacer {
  flex-grow: 1;
}
.Editor .bar .save_feedback_icon {
  background: rgb(253, 255, 140);
  border-radius: 3px;
  border: 2px solid #F5BA13;
  font-family: sans-serif;
  padding: 2px;
}
.Editor .bar .save_feedback_icon.hidden {
  display: none;
}

.Editor .status_bar {
  height: 22px;
  background: #DDD;
  border-top: 1px solid gray;
  font-family: sans-serif;
  font-size: 12px;
  padding: 4px;
  box-sizing: border-box;
}
.Editor .error {
  background: #F77;
}

.Editor .CodeMirror {
  height: 100%;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.3;
  background: #F7F7F7;
  margin-left: 4px;
  margin-right: 4px;
}
.Editor .CodeMirror-gutters {
  border-right: 0;
}
.Editor .CodeMirror-lines > * {
  border: 1px solid #DDD;
  background: white;
}

.Editor .span {
  background: rgba(31,118,180,0.1);
}
.Editor .angle_bracket {
  font-weight: bold;
  color: rgba(31,118,180,1);
}
.Editor .about_resource {
  color: #ff7f0e;
  font-weight: bold;
}
.Editor .directive {
  background: rgba(255, 177, 0, 0.05);
  color: #444;
}
.Editor .directive_block_opener {
  border-top: 1px solid #DDD;
  background: rgba(255, 177, 0, 0.05);
}
.Editor .directive_block_closer {
  background: rgba(255, 177, 0, 0.05);
}
.Editor :not(:last-child) > .directive_block_closer {
  border-bottom: 1px solid #DDD;
}
.Editor .directive_block_code {
  color: #555;
}
.Editor .error {
  background: rgba(255,0,0,0.2);
  border-bottom: 2px solid red;
}
.Editor .code {
  font-family: monospace;
  font-size: 11px;
}

/* Codemirror highlighting
*/
.Editor .cm-span_open, .Editor .cm-span_close, .Editor .cm-subject {
  color: rgba(31,118,180,1);
  font-weight: bold;
}

.Editor .cm-triples_section_open, .Editor .cm-triples_section_close {
  color: #444;
}
.Editor .triples_section, .Editor .triples_section_open, .Editor .triples_section_close {
  background: rgba(255, 177, 0, 0.05);
}
.Editor .comments_section, .Editor .comments_section_open, .Editor .comments_section_close {
  background: rgba(97, 191, 80, 0.05);
}
.Editor .break_section {
  background: #DDD;
}
.Editor .triples_section_text {
  font-family: monospace;
}
.Editor .comments_section_text {
  font-family: monospace;
  color: #449444;
}
.Editor .break_section_text {
  font-family: monospace;
  color: rgb(183, 58, 58);
  font-weight: bold;
}

.Editor :not(:first-child) > .triples_section_open,
.Editor :not(:first-child) > .comments_section_open {
  border-top: 1px solid #DDD;
}
.Editor :not(:last-child) > .triples_section_close,
.Editor :not(:last-child) > .comments_section_close {
  border-bottom: 1px solid #DDD;
}

.Editor .cm-predicate, .Editor .cm-object {
  color: #444;
}
.Editor .cm-literal {
  font-family: sans-serif;
}
.Editor .cm-gap, .Editor .cm-editor_addition_delimiter, .Editor .cm-author_addition_delimiter {
  color: rgb(183, 58, 58);
  font-weight: bold;
}
