.Editor .error_gutter {
  width: 12px;
}

.Editor {
  display: flex;
  flex-direction: column;
}
.Editor .bar {
  height: 22px;
  display: flex;
  flex-direction: row;
  padding: 4px;
  border-bottom: 1px solid gray;
  background: #DDD;
}
.Editor .bar > * {
  min-width: 38px;
  font-family: monospace;
  font-weight: bold;
  font-size: 12px;
  margin-right: 4px;
}
.Editor .editor_div {
  flex-grow: 1;
  height: 0;
}

.Editor .CodeMirror {
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1.3;
  background: #F7F7F7;
}
.Editor .CodeMirror-lines > * {
  border-right: 1px solid #DDD;
  background: white;
}

.Editor .span {
  background: rgba(31,118,180,0.1);
}
.Editor .angle_bracket {
  font-weight: bold;
  color: rgba(31,118,180,1);
}
.Editor .round_bracket {
  color: #ff7f0e;
  font-weight: bold;
}
.Editor .directive {
  background: rgba(255, 177, 0, 0.05);
  color: #444;
}
.Editor .directive_block_opener {
  border-top: 1px solid #DDD;
  background: rgba(255, 177, 0, 0.05);
}
.Editor .directive_block_closer {
  border-bottom: 1px solid #DDD;
  background: rgba(255, 177, 0, 0.05);
}
.Editor .directive_block_code {
  color: #555;
}
.Editor .error {
  background: rgba(255,0,0,0.2);
  border-bottom: 2px solid red;
}
.Editor .code {
  font-family: monospace;
  font-size: 11px;
}
